    <div class="lab_widget">
                    <ul class="li_list">
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Fw Went for Medical Eximation </p>
                            <span> <%= @registration.with_medical_examination%></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Certificaion </p>
                            <span> <%= @registration.with_certification%></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Final Result Released </p>
                            <span> <%= @registration.with_result_released%></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Xray Film Pending Review </p>
                            <span> <%= @registration.with_xray_film_pending_review%> </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Xray Film Received by Xqcc </p>
                            <span> <%= @registration.with_xray_film_recived_by_xqcc%></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Xray Film Revied </p>
                            <span> <%= @registration.with_xray_film_reviwed%> </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Result Tranmitted to Immigration </p>
                            <span> <%= @registration.with_result_transmitted_to_immigration%> </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Block FW </p>
                            <span> <%= @registration.with_block_fw%> </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="card">
                          <div class="card-body">
                            <p> Appeal </p>
                            <span> <%= @registration.with_appeal%> </span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>